body{
    margin:0;
    font-family:system-ui,sans-serif;
    overflow-x:hidden;
    color:white;
}

/* Fixed Background */

body::before{
    content:"";
    position:fixed;

    inset:0;

    background-image:url("../assets/images/background.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    filter:blur(12px);

    transform:scale(1.08);

    z-index:-3;
}

/* Dark overlay */

body::after{

    content:"";

    position:fixed;

    inset:0;

    background:rgba(5,18,8,.45);

    z-index:-2;

}